.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 63px;
}

.lien a{
    padding-left: 57px;
    color: #FF6060;
}

.logo {
    width: 210.322px;
    height: 68px;
}