.collapse-container {
    margin-bottom: 31px;
}

.affTitle {
    border-radius: 5px;
    background: #FF6060;
    height: 35px;
}

.chevronCollapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-left: 18px;
    border-right-width: 18px;
    padding-right: 18px;
}

.chevronCollapse span {
    color: white;
}

.contentTitre {
    background: #F6F6F6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 0 0 5px;
    color: #FF6060;
}
